{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    {% set columns =
        [
            {name: 'headline'},
            {name: 'sections'},
            {name: 'byline'},
            {name: 'authors'},
            {name: 'section', sortable: true, browsable: true},
        ] %}

<twig:api_grid
        :class="class"
        :caller="_self"
        :columns="columns"
>
    <twig:block name="authors">
        {% for author in row.authors %}
            {{ author.fullName }}
        {% endfor %}
    </twig:block>
    <twig:block name="sections">
        {{ row.sections|join(',') }}
    </twig:block>
    <twig:block name="headline">
        <a target="_blank" href="{{ row.url }}">{{ row.headline }}</a>
    </twig:block>

</twig:api_grid>

    {% endblock %}
