{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    {% set columns =
        [
            {name: 'headline'},
            {name: 'byline', sortable: true, browsable: true},
            {name: 'section', sortable: true, browsable: true},
        ] %}


<twig:api_grid
        :class="class"
        :caller="_self"
        :columns="columns"
>
    <twig:block name="headline">
        <a target="_blank" href="{{ row.url }}">{{ row.headline }}</a>
    </twig:block>

</twig:api_grid>

    {% endblock %}
