{% extends "layout.html.twig" %}



    {% block footer_menu %}
        <div class="hstack gap-2">
            {% for icon in ['bi bi-magic', 'bi bi-instagram', 'bi bi-qr-code'] %}
                <div class="bg-light border ms-auto">
                    <h1>
                        {{ icon|icon }}
                        {{ icon }}

                    </h1>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
